<div>
    <a href="#!/channel/list">channel list</a>
    <h1>{{name}}</h1>
    <div ng-click="toggle()">
        <p ng-show="show_chart">Show as Table</p>
        <p ng-show="!show_chart">Show as Chart</p>
    </div>
    <div ng-repeat="widget in widgets">
        <b>{{widget.name}}</b>:{{widget.value}} 
    </div>
    <div>
        <b>Timestamp:</b>{{latest_time}}
    </div>
    <select name="number-of-hours" ng-model="number_of_hours" ng-change="test()">
        <option ng-repeat="option in options" value="{{option.value}}">{{option.name}}</option>
    </select>
    <div ng-show="show_chart">
        <div id="canvas_div_id">
    
        </div>
    </div>
    <div ng-show="!show_chart">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" ng-repeat="field in table_header">{{field}}</th>
                </tr>
            </thead>
            <tr ng-repeat="channel_entry in table_data">
                <td  ng-repeat="field in channel_entry">{{field}}</td>
            </tr>
        </table>
    </div>
    <!-- <button ng-click="create()">create</button> -->
</div>